// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

.jumbotron {
  background: url("../img/pirate-ship.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  color: white;
  }

.display-4, h2 {
  font-family: 'New Tegomin', serif;
}

.navbar-nav {  
  a:hover {
    text-decoration: underline;
    color: white;
  }
}

a:active {
  font-weight: bold;
}

.byline {
  font-weight: bold;
}

.source {
  font-style: italic;
}

.footer {
  background-color: rgb(180, 180, 180);
  text-align: center;
}


// Import partials here
